@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #195093;
  --brand-secondary: #5b433b;
  --brand-accent: #9cc6eb;
  --brand-neutral: #2b3440;
  --brand-base: #ffffff;
}
