@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #195093;
  --brand-secondary: #5b433b;
  --brand-accent: #9cc6eb;
  --brand-neutral: #2b3440;
  --brand-base: #ffffff;
}

.btn {
  @apply inline-block rounded bg-color-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-color-base transition duration-150 ease-in hover:shadow hover:shadow-color-neutral;
}

.error-text {
  @apply text-sm text-rose-600;
}
